.Bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #585252;
  width: 90%;
  height: 80rem;
  border-radius: 40rem;
  z-index: 9999;
}
.btn {
  width: 200rem;
  outline: none;
  border: none;
  border-radius: 40rem;
  font-size: 30rem;
  font-weight: 500;
  background-color: #f1b600;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32rem;
  font-weight: 500;
  margin-left: 50rem;
}
.price::before {
  content: '￥';
  font-size: 24rem;
}
