.Count {
  display: flex;
  align-items: center;
}
.Count span {
  margin: 0 10rem;
}
.sub,
.add {
  border: none;
  background-color: #eeb60b;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26rem;
}
.sub {
  background-color: #fff;
  border: 1px solid #999;
}
